block vars

head
  meta(charset="UTF-8")
  meta(name="viewport", content="width=device-width, initial-scale=1.0, user-scalable=no")
  meta(http-equiv="X-UA-Compatible", content="ie=edge")
  title #{`「${site.title}」| ${site.name}`}
  meta(name="description", content=site.description)
  meta(content="website", property="og:type")
  meta(content="ja_JP", property="og:locale")
  meta(name="twitter:card", content="summary_large_image")
  meta(name="twitter:site", content=site.name)
  meta(name="twitter:title", content=`「${site.title}」| ${site.name}`)
  meta(name="twitter:description", content=site.description)
  meta(name="twitter:image", content=site.ogp)
  meta(content=site.ogp property="og:image")
  meta(name="og:image:width", content="800")
  meta(name="og:image:og:height", content="419")
  link(rel="apple-touch-icon", sizes="180x180", href=site.ati)
  link(rel="icon", type="image/png", sizes="32x32", href=site.icon32)
  link(rel="icon", type="image/png", sizes="16x16", href=site.icon16)
  link(rel="manifest", href=site.manifest)
  link(rel="mask-icon", href=site.iconmask, color=site.themeColor)
  meta(name="msapplication-TileColor", content=site.themeColor)
  meta(name="theme-color", content="#ffffff")
  link(href="https://fonts.googleapis.com/icon?family=Material+Icons&text=menuopenformat_align_centerformat_align_leftformat_align_rightformat_align_justifyvertical_align_bottomvertical_align_centervertical_align_topadd_a_photowrap_texthighlight_offfile_downloadformat_color_fillformat_color_textnavigate_beforenavigate_next" rel="stylesheet")
  script.
    (function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
    new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
    j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
    'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
    })(window,document,'script','dataLayer','GTM-WMH5SJH');

